.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    align-items: center;
    height: 65vh;
    /* margin-top: 4rem; */
      /* scroll */
  /* padding-top: 3rem; */
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    /* flex: 1; */
    padding: 3%;
    left: 27%;
    border-radius: 20px;
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);   
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 22vw;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 1rem;   
}

textarea{
    height: 4rem!important;
}
form > span{
    font-weight: 500;
}

@media only screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
        padding: 0;
        margin-top: 4rem;
    }
    .c-right{
        left: 0;
        margin-top: 2rem;
        border: thin;
    }
    .c-right .user{
        width: 60vw;
    }
    
}