/* Parent Class */
.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    /* flex:1; */
    align-items: center;
    display: flex;
    gap: 2rem;
}
.n-name{
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}
.n-name::before{
    position: absolute;
    content: " ";
    width: 10vh;
    border-bottom: 5px solid orange;
    top: -10%;
    left: 50%;
    transform: translate(-50%);
}
.n-name::after{
    position: absolute;
    content: " ";
    width: 10vh;
    border-top: 5px solid orange;
    left: 50%;
    bottom: -14%;
    transform: translate(-50%);
}

.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list{
    flex: 8;
}
.n-list > ul{
    display: flex;
    justify-content: space-evenly;  
    margin-right: 4rem;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
}